html
  head
    title= title
  body
    h1= message
    form(method="post",action="/userValidation")
      | Name:
      input(type="text",name="user") 
      br
      br
      | Password:
      input(type="password",name="password")
      br
      br
      input(type="submit")
    h4= error  